*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-position: center;
}

.flexBox{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.flexBox li{
    width: 22%;
    position: relative;
}

.overImg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
    transition: all .3s;
}

.overImg:hover{
    opacity: 1;
}

hr {
    border: 10px solid black;
    margin: 50px 0;
}